---
import BaseHead from '../components/BaseHead.astro';
import Sidebar from '../components/Sidebar.astro';
import Footer from '../components/Footer.astro';
import '../styles/global.css';

interface Props {
  title: string;
  description: string;
  lang?: string;
}

const { title, description, lang = 'fr' } = Astro.props as Props;
---
<html lang={lang}>
  <head>
    <BaseHead {title} {description} />
  </head>
  <body class="bg-white text-gray-800">
    <div class="flex flex-col md:flex-row">
      <Sidebar />
      <main class="flex-1 max-w-7xl mx-auto p-4 md:ml-72">
        <article class="prose mx-auto">
          <slot />
        </article>
      </main>
    </div>
    <Footer />
  </body>
</html>
